.container {
  padding: 0 2rem;
  background: $main-background;
  display: grid;
  grid-template-rows: 7rem auto;

  .topSection {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
  }
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

[data-theme='dark'] {
  .container {
    background-color: $main-background-dt;
  }
}
