.container {
  padding: 0 2rem;
  background: $main-background;
  display: grid;
  grid-template-rows: 7rem auto;

  .topSection {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    height: $control-height-md;

    .leftContainer {
    }

    .rightContainer {
      display: flex;
      align-items: center;

      .themeTogglerWrapper {
        margin-right: 3rem;
      }
    }

    .addYearDropdownWrapper {
    }
  }
}

[data-theme='dark'] {
  .container {
    background-color: $main-background-dt;
  }
}
