.container {
  padding: 0 2rem;
  background: $gray-5;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

[data-theme='dark'] {
  .container {
    background-color: black;
  }
}
