:root {
  --button-color: #33677e;
  --shadow-color: rgba(37, 36, 36, 0.2);
  --color-white: #f0f2f3;
  --color-black: rgb(37, 36, 36);

  --course-bg-color:  #f0f0ff;
  --course-info-color: #1f2152;
  --course-title-color: #3a3b3a;
}

.header {
  flex: 0 1 auto;
}

.main {
  flex: 1 1 auto;
}
