.browse-form-div .browse-form .browse-dropdown {
    margin: 5px;
}

#submit-btn-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

#submit-btn {
    width: 100px;
    height: 60px;
}