.course-item {
    width: 26.7rem;
    background-color: #f0f0ff;
    border: .1rem solid #b8b8ff57;
    border-radius: 1rem;
    padding: .7rem;
    margin: 0;
    box-shadow: 0 .3rem .5rem rgba(0,0,0,0.2);
    transition: all 0.2s
  }
  
  .course-item:hover {
    transform: translateY(-.3rem);
    box-shadow: 0 1rem 1rem rgba(0,0,0,0.2)
  }
  
  .course-item:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 1rem rgba(0,0,0,0.2);
  }
  
  .course-header {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    margin-bottom: .3rem;
  }
  
  .course-num, .course-unit {
    font-size: 1.7rem;
  }
  
  .course-num {
    color: #1f2152;
  }
  
  .course-unit {
    color: #1f2152;
  }
  
  .course-title-box {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .course-title {
    font-size: 1.5rem;
    color: #3a3b3a;
  }