.course-list::-webkit-scrollbar {
    background-color:#fff;
    width:1.5rem;
}

.course-list::-webkit-scrollbar-track {
    background-color:#fff
}

.course-list::-webkit-scrollbar-track:hover {
    background-color:#f4f4f4
}

.course-list::-webkit-scrollbar-thumb {
    background-color:#babac0;
    border-radius:1.6rem;
    border: .5rem solid #fff
}

.course-list::-webkit-scrollbar-thumb:hover {
    background-color:#a0a0a5;
    border: .4rem solid #f4f4f4
}

.course-list::-webkit-scrollbar-button {
    display:none;
}

.course-list {
    overflow-y: auto;
    max-height: 65rem;
}