.course-item {
    width: 26.7rem;
    background-color: var(--course-bg-color);
    /* border: .1rem solid var(--course-border-color); */
    border-radius: 1rem;
    padding: .7rem;
    margin-bottom: 1rem;
    box-shadow: 0 .3rem .5rem var(--shadow-color);
    transition: all 0.2s
  }
  
  .course-item:hover {
    transform: translateY(-.3rem);
    box-shadow: 0 1rem 1rem var(--shadow-color);
  }
  
  .course-item:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 1rem var(--shadow-color);
  }
  
  .course-header {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    margin-bottom: .3rem;
  }
  
  .course-num, .course-unit {
    font-size: 1.7rem;
  }
  
  .course-num {
    color: var(--course-info-color);
  }
  
  .course-unit {
    color: var(--course-info-color);
  }
  
  .course-title-box {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .course-title {
    font-size: 1.5rem;
    color: var(--course-title-color);
  }

  .course-trash-icon-box {
    display: inline-block;
    margin-left: .5rem;
    transform: translateY(-.2rem);
  }