.logo {
  color: #4A4A4A;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* About button */
a {
  text-decoration: none;
  color: inherit;

}

.about-button {
  position: relative;
  margin: auto;
  padding: 8.5px 20px;
  transition: all 0.2s ease;
  margin-right: 1px;
  margin-top: 14.5px;
}

.about-button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 28px;
  background: #cbe4eeab;
  width: 40px;
  height: 40px;
  transition: all 0.3s ease;
}

.about-button span {
  position: relative;
  font-size: 11px;
  line-height: 18px;
  font-weight: 900;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  vertical-align: middle;
}

.about-button svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #111;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.about-button:hover:before {
  width: 100%;
  background: #cbe4ee;
}

.about-button:hover svg {
  transform: translateX(0);
}

.about-button:active {
  transform: scale(0.96);
}