.btn-box {

}

.ctrl-btn {
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border: .2rem solid #116fbd;
    border-radius: .5rem;
    color:#116fbd;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1;
    margin: 0 .3rem;
    padding: .5rem 1.5rem;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.ctrl-btn:hover, .ctrl-btn:focus, .ctrl-btn:active {
    color: var(--text-color);
    outline: 0;
    box-shadow: 0 0 4rem 4rem var(--button-color) inset;
    border: .2rem solid var(--button-color);
}

.mini-form-field {
    display: flex;
    align-items: center;
}

.mini-form-userinput {
    margin-right: 1rem;
}

.mini-btn {
    padding: .7rem 1.5rem;
    appearance: none;
    background-color: var(--button-color);
    border: 1px solid var(--button-color);
    border-radius: .5rem;
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--text-color);
    transition: all 0.2s;
}

.mini-form-input {
    width: 13rem;
}
