.search-form-label {
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  margin-left: 0.3rem;
  margin-bottom: 0.3rem;
}

.form-field {
  margin-bottom: 0.7rem;
  color: #3a4241;
}

.error-message-box {
  font-size: 1.6rem;
  color: rgb(250, 90, 90);
}

.form-input {
  padding: 0.7rem;
  font-size: 1.6rem;
  width: 100%;
  height: 3.5rem;
  border: 0.1rem solid #9e9e9e;
  border-radius: 0.5rem;
}

.form-input:focus {
  outline: none;
  box-shadow: 0 0 0.2rem #209fc5;
}

::placeholder {
  font-size: 1.4rem;
  opacity: 0.8;
}

.form-btn-field {
  margin-top: 1.1rem;
}

button, button:focus, button:active {
  outline: none;
  border: none;
  transition: all 0.2s;
}

.btn:hover {
  transform: translateY(-.2rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-.1rem);
  box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.2);
}

.btn.search-btn {
  width: 100%;
  color: var(--color-white);
  height: 3.5rem;
  border-radius: 10rem;
  font-size: 1.7rem;
  letter-spacing: 0.07rem;
  font-weight: 700;
  background-color: var(--button-color);
}
