.search-form-label {
  display: block;
  font-size: 14px;
  font-weight: 700;
  margin-left: 3px;
  margin-bottom: 3px;
}

.form-field {
  margin-bottom: 7px;
}

.error-message-box {
    color: rgb(250, 90, 90);
}

.form-input {
  padding: 7px;
  font-size: 16px;
  width: 100%;
  height: 35px;
  border: 1px solid #9e9e9e;
  border-radius: 5px;
}

.form-input:focus {
  outline: none;
  box-shadow: 0 0 2px #209fc5;
}

::placeholder {
    font-size: 14px;
    opacity: 0.8;
}

.form-btn-field {
    margin-top: 11px;
}

.btn:link,
.btn:visited {
  display: block;
  padding: 6px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  border-radius: 100px;
  transition: all 0.2s
}

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translate(-1px);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.form-btn {
  color: #fff;
  height: 35px;
  font-size: 17px;
  letter-spacing: .7px;;
  font-weight: 700;
  background-color: rgb(19, 159, 214);
}
