.result-msg {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
}

.icon-box {
  margin-bottom: 1rem;
}

.control-box {
  font-size: 1.4rem;
  display: flex;
  justify-content: flex-end;
  margin-bottom: .3rem;
}

.control-box a,
.control-box a:link {
  text-decoration: none;
  color: #858080;
  transition: all 0.2s;
}

.control-box a:hover {
  color: #494646;
}


i.reset-icon {
  display: inline-block;
  margin-right: 0.3rem;
}
