$selected-border-color-dt: #ff8c38;

.container {
  padding: 0.7rem 0.5rem 1.3rem 0.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  column-gap: 1.1rem;
  row-gap: 0.8rem;
}

.color-btn {
  width: 1.7rem;
  height: 1.7rem;
  cursor: pointer;
  &.selected {
    border: 1px solid $blue-2;
    box-shadow: 0 0 0 2px $blue-2;
  }
  &.color-1 {
    background-color: $course-1;
  }
  &.color-2 {
    background-color: $course-2;
  }
  &.color-3 {
    background-color: $course-3;
  }
  &.color-4 {
    background-color: $course-4;
  }
  &.color-5 {
    background-color: $course-5;
  }
  &.color-6 {
    background-color: $course-6;
  }
  &.color-7 {
    background-color: $course-7;
  }
  &.color-8 {
    background-color: $course-8;
  }
  &.color-9 {
    background-color: $course-9;
  }
  &.color-10 {
    background-color: $course-10;
  }
  &.color-11 {
    background-color: $course-11;
  }
  &.color-12 {
    background-color: $course-12;
  }
}

[data-theme='dark'] {
  .color-btn {
    &.selected {
      border: 1px solid $accent-1;
      box-shadow: 0 0 0 2px $selected-border-color-dt;
    }
    &.color-1 {
      background-color: $course-1-dt;
    }
    &.color-2 {
      background-color: $course-2-dt;
    }
    &.color-3 {
      background-color: $course-3-dt;
    }
    &.color-4 {
      background-color: $course-4-dt;
    }
    &.color-5 {
      background-color: $course-5-dt;
    }
    &.color-6 {
      background-color: $course-6-dt;
    }
    &.color-7 {
      background-color: $course-7-dt;
    }
    &.color-8 {
      background-color: $course-8-dt;
    }
    &.color-9 {
      background-color: $course-9-dt;
    }
    &.color-10 {
      background-color: $course-10-dt;
    }
    &.color-11 {
      background-color: $course-11-dt;
    }
    &.color-12 {
      background-color: $course-12-dt;
    }
  }
}
