.animatedDiv {
  background-color: $bg-color-2;
  width: 100%;
  border-radius: $br-md;
  overflow: hidden;

  &.opened {
    margin-bottom: 2rem;
  }

  .contentWrapper {
    height: 30rem;

    .container {
      padding: 1.5rem;
      display: grid;
      grid-template-columns: 5.5fr 4.5fr;
      grid-template-rows: 5rem 1fr;
      grid-column-gap: 10px;
      grid-row-gap: 10px;
      height: 100%;
      grid-row: auto auto;
      .box {
        background-color: rgb(238, 238, 238);
      }
    }
  }
}

[data-theme='dark'] {
  .animatedDiv {
    background-color: $bg-color-2-dt;
  }
}
