.animatedDiv {
  background-color: $bg-color-2;
  width: 100%;
  border-radius: $br-md;
  overflow: hidden;

  &.opened {
    margin-bottom: 2rem;
  }

  .contentWrapper {
    height: 30rem;
  }
}

[data-theme='dark'] {
  .animatedDiv {
    background-color: $bg-color-2-dt;
  }
}
