.animatedDiv {
  background-color: $bg-color-2;
  width: 100%;
  border-radius: $br-md;
  overflow: hidden;

  .contentWrapper {
    font-size: $fs-md;

    .container {
      height: 100%;
      padding: 2rem;
      display: grid;
      grid-template-columns: 6fr 4fr;
      grid-template-rows: auto 30rem auto;

      .customBtnWrapper {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
      }
    }
  }
}

.result-window-wrapper {
  margin-top: 2.5rem;
  padding-right: 2rem;
}

.footer-right {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
  padding-right: 2rem;
}

[data-theme='dark'] {
  .animatedDiv {
    background-color: $bg-color-2-dt;
  }
}
