.container {
  max-width: 17rem;
  height: 3.6rem;
  border-radius: $br-sm;
  background-color: $course-1;
  padding: 0rem 1rem;
  cursor: pointer;
  user-select: none;
  margin: 0.2rem;

  &.selected {
    @include selected-border();
  }
}

.deptCodeNum {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: $default-text;
  font-size: $fs-md;
  letter-spacing: $letter-spacing-md;
  font-weight: 500;
}

[data-theme='dark'] {
  .container {
    background-color: $course-1-dt;

    &.selected {
      @include selected-border-dt();
    }
  }

  .deptCodeNum {
    color: $default-text-dt;
  }
}
