$info-icon: #05a0e9;
$info-icon-hover: #5fc1ef;
$info-icon-dt: #1d8ede;
$info-icon-hover-dt: #45b3e7;

$search-result-default: #e7e7e7;
$search-result-default-dt: #424242;
$search-result-default-hover: #d9d9e1;
$search-result-default-hover-dt: #67667b;

@keyframes fade-in-opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container {
  height: 3.6rem;
  border-radius: $br-sm;
  background-color: $search-result-default;
  padding: 0 0.3rem;
  user-select: none;
  margin: 0.4rem;

  position: relative;
  cursor: pointer;
  transition: background-color 100ms;

  &:hover {
    background-color: $search-result-default-hover;
    // transition: background-color 100ms;
  }

  &.selected {
    transition: background-color 0ms;
    background-color: $course-1;

    .deptCodeNum {
      font-weight: 500;
    }
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: $br-sm;
}

.info-icon-wrapper {
  position: absolute;
  top: -0.7rem;
  right: -1rem;
  cursor: default;
  opacity: 0;
  padding: 0.3rem;
  animation: fade-in-opacity 300ms forwards;
  animation-delay: 200ms;
}

.info-icon {
  cursor: pointer;
  font-size: 2.2rem;
  color: $info-icon;
  background-color: $white-1;
  border-radius: 100vw;
  transition: color 100ms;

  &:hover {
    color: $info-icon-hover;
  }
}

.deptCodeNum {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: $default-text;
  font-size: $fs-md;
  letter-spacing: $letter-spacing-md;
  font-weight: 400;
}

[data-theme='dark'] {
  .container {
    // background-color: $course-1-dt;
    background-color: $search-result-default-dt;
    &:hover {
      background-color: $search-result-default-hover-dt;
    }
    &.selected {
      // @include selected-border-dt(0px, 3px);
      background-color: $course-1-dt;
    }
  }

  .info-icon {
    color: $info-icon-dt;

    &:hover {
      color: $info-icon-hover-dt;
    }
  }

  .deptCodeNum {
    color: $default-text-dt;
  }
}
