.inputForm {
  margin-bottom: 1.5rem;
  .inputLabel {
    font-size: $fs-md;
  }
}

.sendBtnWrapper {
  display: flex;
  justify-content: flex-end;
}

.errorMessage {
  color: $red-4;
  font-size: $fs-md;
  display: flex;
  margin-top: 0.1rem;
}

.emailFieldMessage {
  color: $gray-4;
  font-size: $fs-md;
  display: flex;
  margin-top: 0.1rem;
}

[data-theme='dark'] {
  .errorMessage {
    color: $red-2;
  }

  .emailFieldMessage {
    color: $gray-4;
  }
}
