html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 62.5%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media screen and (min-width: 1400px) {
  html {
    font-size: 63.75%;
  }
}

@media screen and (min-width: 1600px) {
  html {
    font-size: 72.5%;
  }
}

@media screen and (min-width: 2000px) {
  html {
    font-size: 77.5%;
  }
}
