@mixin selected-border($border-width: 1px, $shadow-width: 2px) {
  border: $border-width solid $blue-2;
  box-shadow: 0 0 0 $shadow-width $blue-2;
}

@mixin selected-border-dt($border-width: 1px, $shadow-width: 2px) {
  border: $border-width solid $accent-2;
  box-shadow: 0 0 0 $shadow-width $accent-2;
}

@mixin scrollbar-light() {
  &::-webkit-scrollbar {
    width: 0.7rem;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 100vw;
    background-color: $gray-5;

    &:hover {
      background-color: $gray-4;
    }
  }
}

@mixin scrollbar-dark() {
  &::-webkit-scrollbar-thumb {
    background-color: $gray-3;

    &:hover {
      background-color: $gray-4;
    }
  }
}

@mixin animate-course-overlay($name, $opacity) {
  @keyframes #{$name} {
    from {
      background-color: transparent;
    }
    to {
      background-color: rgba($white-1, $opacity);
    }
  }

  animation: $name 250ms forwards;
}
