/**************** 
    Colors
 ***************/

$primary-1: #223e68;
$primary-2: #4f6484;

$accent-1: #d98727;
$accent-2: #b0824b;
$accent-3: #cec5a5;

$white-1: #ffffff;

$gray-1: #303234;
$gray-2: #373e47;
$gray-3: #696d74;
$gray-4: #9a9ca1;
$gray-5: #cfd1d6;
$gray-6: #edeeef;
$gray-7: #f5f6f7;

$red-1: #9a3131;
$red-2: #c93c37;
$red-3: #e5534b;
$red-4: #fa7070;

$blue-1: #0037a8;
$blue-2: #0547cf;
$blue-3: #0d5bff;
$blue-4: #82d8ff;

$accent: #ee954b;
$accent-variant: #f9b57c;

// control sizes (Button, Input, etc.)
$control-height-md: 4rem;

// font size
$fs-sm: 1.2rem;
$fs-md: 1.4rem;
$fs-lg: 1.7rem;

// border radius
$br-sm: 8px;
$br-md: 12px;
$br-lg: 20px;

/* Default theme colors */

// text
$default-text: $gray-1;
$placeholder-text: $gray-3;

// course item colors
$course-1: purple;
$course-2: purple;
$course-3: purple;
$course-4: purple;
$course-5: purple;
$course-6: purple;
$course-7: purple;
$course-8: purple;
$course-9: purple;
$course-10: purple;
$course-11: purple;
$course-12: purple;

/* Dark theme colors */

// text
$default-text-dt: #f3f3f3;
$secondary-text-dt: #c3c3c3;
$disabled-text-dt: #898989;

// body colors
$primary-dt: #2f2f2f;
$primary-variant-dt: #565656;

$accent-dt: #a35a1e;
$accent-variant-dt: #cc9364;

// course item colors
$course-1-dt: purple;
$course-2-dt: purple;
$course-3-dt: purple;
$course-4-dt: purple;
$course-5-dt: purple;
$course-6-dt: purple;
$course-7-dt: purple;
$course-8-dt: purple;
$course-9-dt: purple;
$course-10-dt: purple;
$course-11-dt: purple;
$course-12-dt: purple;

/* Sizes */
