/* Default theme colors */

// text
$default-text: #212121;
$secondary-text: #777777;
$disabled-text: #cccccc;

// body colors
$primary: #223e68;
$primary-variant: #6889bb;

$accent: #ee954b;
$accent-variant: #f9b57c;

// course item colors
$course-1: purple;
$course-2: purple;
$course-3: purple;
$course-4: purple;
$course-5: purple;
$course-6: purple;
$course-7: purple;
$course-8: purple;
$course-9: purple;
$course-10: purple;
$course-11: purple;
$course-12: purple;

/* Dark theme colors */

// text
$default-text-dt: #f3f3f3;
$secondary-text-dt: #c3c3c3;
$disabled-text-dt: #898989;

// body colors
$primary-dt: #2f2f2f;
$primary-variant-dt: #565656;

$accent-dt: #a35a1e;
$accent-variant-dt: #cc9364;

// course item colors
$course-1-dt: purple;
$course-2-dt: purple;
$course-3-dt: purple;
$course-4-dt: purple;
$course-5-dt: purple;
$course-6-dt: purple;
$course-7-dt: purple;
$course-8-dt: purple;
$course-9-dt: purple;
$course-10-dt: purple;
$course-11-dt: purple;
$course-12-dt: purple;
