$course-bg-1: #c4c3e4;
$course-bg-1-dt: #9e9ebc;

@keyframes overlay-background {
  from {
    background-color: transparent;
  }
  to {
    background-color: rgba($white-1, 0.3);
  }
}

.outer-container {
  position: relative;
}

.container {
  height: 3.6rem;
  border-radius: $br-sm;
  padding: 0rem 1rem;
  user-select: none;

  &.dragging {
    opacity: 0.3;
  }

  &.drag-overlay {
    cursor: grabbing;
  }

  &.color-1 {
    background-color: $course-1;
  }

  &.color-2 {
    background-color: $course-2;
  }

  &.color-3 {
    background-color: $course-3;
  }

  &.color-4 {
    background-color: $course-4;
  }

  &.color-5 {
    background-color: $course-5;
  }

  &.color-6 {
    background-color: $course-6;
  }

  &.color-7 {
    background-color: $course-7;
  }

  &.color-8 {
    background-color: $course-8;
  }

  &.color-9 {
    background-color: $course-9;
  }

  &.color-10 {
    background-color: $course-10;
  }

  &.color-11 {
    background-color: $course-11;
  }

  &.color-12 {
    background-color: $course-12;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: $br-sm;
  animation: overlay-background 250ms forwards;
}

.menu-trigger {
  border-radius: 2px;
  padding: 0.2rem 0.5rem;
  background-color: transparent;
  transition: background 0.2s;
  &.menu-open,
  &.menu-trigger-hover {
    background-color: #b1b7c6;

    .three-dot-icon {
      color: $gray-2;
    }
  }
}

.three-dot-icon {
  font-size: 2rem;
  transition: color 0.2s;
  color: $gray-3;
}

.info-icon {
  font-size: 1.3rem;
  margin-right: 0.3rem;
}

.trash-icon {
  font-size: 1.3rem;
  margin-right: 0.3rem;
}

.color-palette-wrapper {
  border-bottom: 1px solid $gray-5;
  margin-bottom: 0.6rem;
}

.variable-unit-form-wrapper {
  border-bottom: 1px solid $gray-5;
  margin-bottom: 0.6rem;
}

.dept-code-num {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: $default-text;
  font-size: $fs-md;
  letter-spacing: $letter-spacing-md;
  font-weight: 500;
}

[data-theme='dark'] {
  .container {
    &.color-1 {
      background-color: $course-1-dt;
    }

    &.color-2 {
      background-color: $course-2-dt;
    }

    &.color-3 {
      background-color: $course-3-dt;
    }

    &.color-4 {
      background-color: $course-4-dt;
    }

    &.color-5 {
      background-color: $course-5-dt;
    }

    &.color-6 {
      background-color: $course-6-dt;
    }

    &.color-7 {
      background-color: $course-7-dt;
    }

    &.color-8 {
      background-color: $course-8-dt;
    }

    &.color-9 {
      background-color: $course-9-dt;
    }

    &.color-10 {
      background-color: $course-10-dt;
    }

    &.color-11 {
      background-color: $course-11-dt;
    }

    &.color-12 {
      background-color: $course-12-dt;
    }
  }

  .menu-trigger {
    &.menu-open,
    &.menu-trigger-hover {
      background-color: $gray-4;
    }
  }

  .color-palette-wrapper {
    border-bottom: 1px solid $gray-4;
  }

  .variable-unit-form-wrapper {
    border-bottom: 1px solid $gray-4;
  }

  .dept-code-num {
    color: $default-text-dt;
  }
}
