.inputForm {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  .inputLabel {
    font-size: $fs-md;
  }
}

.additionalIntoWrapper {
  display: flex;
}

.createBtnWrapper {
  margin-top: 1.5rem;

  & > * {
    width: 100%;
  }
}
