.appToastContainer {
  color: $white-1;
  display: flex;
  align-items: center;
  max-width: 30rem;
  min-height: 6.8rem;
  font-size: $fs-lg;
  letter-spacing: $letter-spacing-sm;
  border-radius: $br-md;

  .messageWrapper {
    display: flex;

    .statusIconWrapper {
      font-size: 1.8rem;
      margin: 0 1rem;
      display: flex;
      align-items: center;
    }

    .message {
      margin: 0 0.1rem;
      padding: 1.2rem 0.4rem;
      line-height: 2.8rem;
      font-weight: bold;
      text-align: start;

      .highlight {
        margin-right: 0.8rem;
        padding: 0.35rem 0.7rem;
        border-radius: 0.5rem;
      }
    }
  }
}

[data-theme='dark'] {
}
