.container {
  padding: 1.3rem 1.2rem 0.8rem 0rem;

  background-color: $bg-color-2;
  border-radius: $br-md;
}

.heading {
  padding-left: 2rem;
  font-size: $fs-lg;
  letter-spacing: $letter-spacing-lg;
  color: $secondary-text;
  display: flex;
  justify-content: space-between;
}

.empty-button {
  font-size: $fs-md;
  margin-top: 0.4rem;
  margin-right: 1rem;
  color: $gray-4;
  &:hover {
    color: $red-4;
  }
  transition: color 250ms;
}

.eraser-icon {
  margin-right: 0.4rem;
}

.courses-box {
  margin-top: 0.5rem;
  width: 100%;
  min-height: 3.8rem;
  max-height: 25rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  overflow-x: hidden;

  @include scrollbar-light();
}

.total-unit {
  font-size: 1.6rem;
  color: $secondary-text;
  letter-spacing: $letter-spacing-sm;
  text-align: end;
  margin-right: 1rem;
}

.course-item-wrapper {
  width: 47%;
  margin-right: 0.3rem;
  margin-bottom: 1.2rem;

  &:nth-child(odd) {
    margin-right: 4%;
  }

  &:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

[data-theme='dark'] {
  .container {
    background-color: $bg-color-2-dt;
  }

  .heading {
    color: $secondary-text-dt;
  }

  .clear-button {
    &:hover {
      color: $red-2;
    }
  }
  .courses-box {
    @include scrollbar-dark();
  }

  .total-unit {
    color: $secondary-text-dt;
  }
}
