.container {
  padding: 1.3rem 1.2rem 1.3rem 2rem;

  background-color: $bg-color-2;
  border-radius: $br-md;
}

.heading {
  font-size: $fs-lg;
  letter-spacing: $letter-spacing-lg;
  color: $secondary-text;
  display: flex;
  justify-content: space-between;
}

.empty-button {
  font-size: $fs-md;
  margin-right: 4%;
}

.eraser-icon {
  margin-right: 0.4rem;
}

.course-box {
  margin-top: 1.3rem;
  width: 100%;
  min-height: 8rem;
  max-height: 23rem;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  overflow-x: hidden;

  @include scrollbar-light();
}

.course-item-wrapper {
  width: 47%;
  margin-right: 0.3rem;
  margin-bottom: 1.1rem;

  &:nth-child(odd) {
    margin-right: 4%;
  }

  &:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

[data-theme='dark'] {
  .container {
    background-color: $bg-color-2-dt;
  }

  .heading {
    color: $secondary-text-dt;
  }

  .course-box {
    @include scrollbar-dark();
  }
}
