*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Lato, sans-serif;
    box-sizing: border-box;
    height: 100%;
}