.course-info-header {
  margin-bottom: 1rem;
  letter-spacing: $letter-spacing-md;
  .top-row {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
    font-size: 1.9rem;
    font-weight: 500;
  }

  .title-row {
    font-size: 1.7rem;
    text-align: center;
  }
}

.course-info-body {
  padding: 0;
}
